<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title id="adminsettingtitle">Ur-Services24</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="<%=urlMain %>/modules/bootstrap/css/bootstrap.min.css">
    <!-- General CSS Files -->
    <link rel="stylesheet" href="<%=urlMain %>/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=urlMain %>/modules/fontawesome/css/all.min.css">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="<%=urlMain %>/modules/jqvmap/dist/jqvmap.min.css">
    <link rel="stylesheet" href="<%=urlMain %>/modules/summernote/summernote-bs4.css">
    <link rel="stylesheet" href="<%=urlMain %>/modules/owlcarousel2/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="<%=urlMain %>/modules/owlcarousel2/dist/assets/owl.theme.default.min.css">


    <!-- CSS Libraries -->
    <link rel="stylesheet" href="<%=urlMain %>/modules/datatables/datatables.min.css">
    <link rel="stylesheet" href="<%=urlMain %>/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="<%=urlMain %>/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="<%=urlMain %>/css/style.css">
    <link rel="stylesheet" href="<%=urlMain %>/css/components.css">
    <link rel="shortcut icon" href="<%=urlMain %>/img/logo1.jpeg" />
    <!-- Start GA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script>
    <!-- /END GA -->
</head>

<body>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>

                    </ul>


                </form>
                <ul class="navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="<%=urlMain %>/img/admin/<%=image %>" class="rounded-circle mr-1">
                            <div class="d-sm-none d-lg-inline-block">salut, <%=name %></div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="<%=urlMain %>/adminProfile" class="dropdown-item has-icon">
                                <i class="far fa-user"></i> Profil
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" data-toggle="modal" data-target="#sign-out" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i> Se déconnecter
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="/dashboard">Ur-Services24</a>
                    </div>

                    <ul class="sidebar-menu">

                        <li class="dropdown ">
                            <a href="/dashboard" class="nav-link   "><i class="fas fa-fire"></i><span>Tableau de bord</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="/getPlombier" class="nav-link   "><i class="fas fa-wrench"></i><span>Plombier</span></a>

                        </li>
                        <li class="dropdown">
                            <a href="/getElectricien" class="nav-link   "><i class="fas fa-bolt"></i><span>Électricien</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="/getSerrurier" class="nav-link   "><i class="fas fa-lock"></i><span>Serrurier</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="/getservices" class="nav-link   "><i class="fab fa-servicestack"></i><span>services</span></a>
                        </li>

                    </ul>

                </aside>
            </div>
            <div class="main-content" style="min-height: 627px;">

                <section class="section">
                    <div class="section-header">
                        <h1>Profil</h1>
                        <div class="section-header-breadcrumb">
                            <div class="breadcrumb-item active"><a href="<%=urlMain %>/dashboard">Tableau de bord</a></div>
                            <div class="breadcrumb-item">Profil</div>
                        </div>
                    </div>
                    <div class="section-body">
                        <h2 class="section-title">salut,
                            <%=First_Name %>!
                        </h2>
                        <p class="section-lead">
                            Modifiez les informations vous concernant sur cette page.
                        </p>

                        <div class="row mt-sm-4">
                            <div class="col-12 col-md-12 col-lg-5">
                                <div class="card profile-widget">
                                    <div class="profile-widget-header">
                                        <img alt="image" src="<%=urlMain %>/img/admin/<%=image %>" class="rounded-circle profile-widget-picture">

                                        <div class="profile-widget-items">
                                            <div class="profile-widget-item">
                                                <div class="profile-widget-item-label">services</div>
                                                <div class="profile-widget-item-value" id="allservice">

                                                </div>
                                            </div>
                                            <div class="profile-widget-item">
                                                <div class="profile-widget-item-label">payé</div>
                                                <div class="profile-widget-item-value" id="allpay"></div>
                                            </div>
                                            <div class="profile-widget-item">
                                                <div class="profile-widget-item-label">non payé</div>
                                                <div class="profile-widget-item-value" id="allnonpay">1</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-widget-description">
                                        <div class="profile-widget-name">
                                            <%=name %>
                                                <div class="text-muted d-inline font-weight-normal">
                                                    <div class="slash"></div>Administrateur</div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-7">
                                <div class="card">
                                    <form class="needs-validation" id="FormSettingInfo" novalidate="">
                                        <div class="card-header">
                                            <h4>Editer le profil</h4>
                                        </div>
                                        <div class="card-body">
                                            <label><u>Informations personnelles</u></label>
                                            <div class="row">
                                                <div class="form-group col-md-6 col-12">
                                                    <label>Prénom</label>
                                                    <input type="text" class="form-control" value="<%=First_Name %>" name="First_Name" id="First_Name" required="">
                                                    <div class="invalid-feedback">
                                                        Merci de renseigner le prénom
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6 col-12">
                                                    <label>Nom de famille</label>
                                                    <input type="text" class="form-control" value="<%=Last_Name %>" name="Last_Name" id="Last_Name" required="">
                                                    <div class="invalid-feedback">
                                                        Veuillez remplir le nom de famille
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6 col-12">
                                                    <label>Email</label>
                                                    <input type="email" class="form-control" value="<%=email %>" name="email" id="email" required="">
                                                    <div class="invalid-feedback">
                                                        Veuillez remplir le mot d'email
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6 col-12">
                                                    <label>Phone</label>
                                                    <input type="tel" class="form-control" name="phone" id="phone" value="<%=phone %>">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6 col-12">
                                                    <label>Mot de passe</label>
                                                    <input type="password" class="form-control" id="password" name="password" value="<%=password %>" required="">
                                                    <div class="invalid-feedback">
                                                        Veuillez remplir le mot de passe
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6 col-12">
                                                    <label>Adresse</label>
                                                    <input type="text" class="form-control" value="<%=address %>" name="address" id="address" required="">
                                                    <div class="invalid-feedback">
                                                        Veuillez remplir l'adresse
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="row">
                                                <div class="form-group col-md-12 col-12">
                                                    <label>changer le profil d'image</label>
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" placeholder="aucun fichier sél" value="<%=image %>" id="image" name="image">
                                                        <label class="custom-file-label" for="customFile"><%=image %></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="number" class="custom-file-input" value="<%=A_Id %>" id="admin_id" name="admin_id" hidden>

                                        </div>

                                        <div class="card-footer text-right">
                                            <input type="submit" class="btn btn-primary" value="Sauvegarder les modifications">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>




        </div>



    </div>
    <!--logout Model-->
    <div class="modal" id="sign-out">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Vouloir partir ?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    Appuyez sur déconnexion pour quitter
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">
                        Reste ici
                      </button>
                    <a href="<%=urlMain %>/logout" class="btn btn-danger"> Se déconnecter</a>
                </div>
            </div>
        </div>

    </div>

    <!-- General JS Scripts -->
    <script src="<%=urlMain %>/modules/jquery.min.js"></script>
    <script src="<%=urlMain %>/modules/popper.js"></script>
    <script src="<%=urlMain %>/modules/tooltip.js"></script>
    <script src="<%=urlMain %>/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="<%=urlMain %>/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="<%=urlMain %>/modules/moment.min.js"></script>
    <script src="<%=urlMain %>/js/stisla.js"></script>

    <!-- JS Libraies -->
    <script src="<%=urlMain %>/modules/jquery.sparkline.min.js"></script>
    <script src="<%=urlMain %>/modules/chart.min.js"></script>
    <script src="<%=urlMain %>/modules/owlcarousel2/dist/owl.carousel.min.js"></script>
    <script src="<%=urlMain %>/modules/summernote/summernote-bs4.js"></script>
    <script src="<%=urlMain %>/modules/chocolat/dist/js/jquery.chocolat.min.js"></script>
    <!-- JS Libraies -->
    <script src="<%=urlMain %>/modules/jquery-ui/jquery-ui.min.js"></script>
    <!-- JS Libraies -->
    <script src="<%=urlMain %>/modules/datatables/datatables.min.js"></script>
    <script src="<%=urlMain %>/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="<%=urlMain %>/modules/datatables/Select-1.2.4/js/dataTables.select.min.js"></script>



    <!-- Page Specific JS File -->
    <script src="<%=urlMain %>/js/page/components-table.js"></script>

    <!-- Template JS File -->
    <script src="<%=urlMain %>/js/scripts.js"></script>
    <script src="<%=urlMain %>/js/custom.js"></script>
    <script src="<%=urlMain %>/js/main.js"></script>
    <script src="<%=urlMain %>/js/hullabaloo.js"></script>
    <script src="<%=urlMain %>/js/popper.min.js"></script>
</body>

</html>