<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Complete REGISTRE</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="<%=urlMain %>/modules/bootstrap/css/bootstrap.min.css">
    <!-- General CSS Files -->
    <link rel="stylesheet" href="<%=urlMain %>/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=urlMain %>/modules/fontawesome/css/all.min.css">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="<%=urlMain %>/modules/jqvmap/dist/jqvmap.min.css">
    <link rel="stylesheet" href="<%=urlMain %>/modules/summernote/summernote-bs4.css">
    <link rel="stylesheet" href="<%=urlMain %>/modules/owlcarousel2/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="<%=urlMain %>/modules/owlcarousel2/dist/assets/owl.theme.default.min.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="<%=urlMain %>/css/style.css">
    <link rel="stylesheet" href="<%=urlMain %>/css/components.css">
    <link rel="shortcut icon" href="<%=urlMain %>/img/logo1.jpeg" />
    <!-- Start GA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script>
</head>




<body>

    <div class="col-12">
        <div class="card">


            <div id="div_verifie">
                <div class="card-body " style="background-color: #eaf2f4;">
                    <div class="row mt-4">
                        <div class="col-12 col-lg-8 offset-lg-2">
                            <div class="wizard-steps">
                                <div class="wizard-step wizard-step-active">
                                    <div class="wizard-step-icon">
                                        <i class="far fa-user"></i>
                                    </div>
                                    <div class="wizard-step-label">
                                        REGISTRE
                                    </div>
                                </div>
                                <div class="wizard-step wizard-step-active">

                                    <div class="wizard-step-icon">
                                        <i class="fas fa-box-open"></i>
                                    </div>
                                    <div class="wizard-step-label">
                                        PROFILE
                                    </div>
                                </div>
                                <div class="wizard-step wizard-step-active">
                                    <div class="wizard-step-icon">
                                        <i class="fas fa-server"></i>
                                    </div>
                                    <div class="wizard-step-label">
                                        VÉRIFIÉ
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 col-md-12 col-sm-12">
                            <div class="card">

                                <div class="card-body">
                                    <div class="empty-state" data-height="400" style="height: 400px;">
                                        <div class="empty-state-icon">
                                            <i class="fas fa-check"></i>
                                        </div>
                                        <h2>Merci de vous joindre a nous</h2>
                                        <p class="lead">
                                            Vérification réussie et vous êtes maintenant notre client
                                        </p>
                                        <a href="/client/clientindex" class="btn btn-primary mt-4">Aller au travail</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>




    <!-- General JS Scripts -->
    <script src="<%=urlMain %>/modules/jquery.min.js"></script>
    <script src="<%=urlMain %>/modules/popper.js"></script>
    <script src="<%=urlMain %>/modules/tooltip.js"></script>
    <script src="<%=urlMain %>/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="<%=urlMain %>/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="<%=urlMain %>/modules/moment.min.js"></script>
    <script src="<%=urlMain %>/js/stisla.js"></script>

    <!-- JS Libraies -->
    <script src="<%=urlMain %>/modules/jquery.sparkline.min.js"></script>

    <script src="<%=urlMain %>/modules/owlcarousel2/dist/owl.carousel.min.js"></script>
    <script src="<%=urlMain %>/modules/summernote/summernote-bs4.js"></script>
    <script src="<%=urlMain %>/modules/chocolat/dist/js/jquery.chocolat.min.js"></script>

    <!-- Page Specific JS File -->


    <!-- Template JS File -->
    <script src="<%=urlMain %>/js/scripts.js"></script>
    <script src="<%=urlMain %>/js/custom.js"></script>
</body>



</html>